*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #BDE0FE;
}
h1{
    background-color: #03045e;
    color: #caf0f8;
    height: 5rem;
    line-height: 5rem;
    display: inline-block;
    padding: 1.2rem;
    margin-top: 0.2rem;
    border-radius: 2rem;
}
.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    background-color: #03045e;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    gap: 5rem;
    font-size: 2rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}
.msg{
    background-color: #f72585;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    
}
.msg-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}